$primary: #0194ef;
$primary-light: lighten($primary, 10%);
$primary-alt-lighter: #a9c7df;
$primary-alt: #8eacc5;

$highlight: #e54124;

$dark: #1c2532;
$dark-light: #323e4f;

$white: #ffffff;
$grey: #fafbfc;


$status-ok: #1bb934;
$status-danger: #e1112c;
$status-warning: #ffb610;