@import 'colours';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family:  'Avenir', sans-serif;
    background: $grey;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
