@import 'colours';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Avenir', sans-serif;
    background: $grey;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Helper classes */

.full-size {
    width: 100%;
    min-height: 100vh;
}

.full-width {
    width: 100%;
}

%box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin status-alert($colour) {
    background: lighten($colour, 40%);
    padding: 0.2em 0em;
    color: darken($colour, 10%);
    border: solid 1px lighten($colour, 20%);
    text-align: center;
    width: 100%;

    p {
        padding: 0em 1em;
    }
}

.status-danger {
    @include status-alert($status-danger);
}

.status-warning {
    @include status-alert($status-warning);
}

.status-ok {
    @include status-alert($status-ok);
}